# dependencies
/node_modules
/.next/
/out/
/build

# debug & misc
*.log
.DS_Store
*.pem

# env files (THIS PROTECTS YOUR SECRETS)
.env
.env.local
.env.production
.env.test

# typescript & prisma
*.tsbuildinfo
next-env.d.ts
/lib/generated/prisma

# Local test files
testProxy.ts
debug-link.js
test-no-proxy.js
test-388-cause.js
